._ab38 {
    margin: 14px 40px 22px
}
.x78zum5 {
    display: flex
}
.x1q0g3np {
    flex-direction: row
}
.x1iyjqo2 {
    flex-grow: 1
}
.xs83m0k {
    flex-shrink: 1
}
.x1n2onr6 {
    position: relative
}
.xwtuau4 {
    top: .45em
}
.x11mr3az {
    background-color: rgb(var(--ig-separator))
}
.x1qjc9v5 {
    align-items: stretch
}

.x972fbf {
    border-top-width: 0
}
.xcfux6l {
    border-right-width: 0
}
.x1qhh985 {
    border-bottom-width: 0
}
.xm0m39n {
    border-left-width: 0
}
.x9f619 {
    box-sizing: border-box
}
.x1roi4f4 {
    color: rgb(var(--ig-secondary-text))
}
.x78zum5 {
    display: flex
}

.xdt5ytf {
    flex-direction: column
}
.x1c4vz4f {
    flex-grow: 0
}
.x2lah0s {
    flex-shrink: 0
}
.x1nxh6w3 {
    font-size: .8125rem
}
.x1s688f {
    font-weight: 600
}
.x1ly1vsg {
    line-height: 1.1538
}
.xdj266r {
    margin-top: 0
}
.xpdqn1h {
    margin-right: 18px
}
.xat24cr {
    margin-bottom: 0
}
.x1sliqq {
    margin-left: 18px
}
.xexx8yu {
    padding-top: 0
}
.x4uap5 {
    padding-right: 0
}
.x18d9i69 {
    padding-bottom: 0
}
.xkhd6sd {
    padding-left: 0
}
.x1n2onr6 {
    position: relative
}
.xtvhhri {
    text-transform: uppercase
}
 .x11njtxf {
    vertical-align: baseline
} 